// !____> Global attributes
$global-padding: 8px;
$global-border-size: 1px;
$global-border-radius: 4px;
$global-aesthetic-margin: 10px;

$center-content-width: 700px;
$phone-center-content-width: 91%;

// *Global transition variables
$text-and-bg-trans-time: 0.15s;
$element-trans-time: 0.125s;

//! ____> Color Palette
$gray: #fafafa;
$primary: #e8e8e8;
$primary-2: rgb(24, 24, 24);
$secondary-light: #d5d5d5;
$secondary-dark: #373737;

$danger: #92304a;
$important: #005fa7;

$success-light: #3db600;
$success-dark: #61c998;
$error: #c0304f;

$white: #ffffff;
$white-soft: #e6e6e6;
$white-soft2: #bbbbbb;
$white-mute: #747474;
$background-white: white;

$black: #000000;
$black-soft: #121212;
$black-soft2: #252525;
$black-mute: #767676;
$background-black: #050505;

$placeholder-text-light: #a0a0a0;
$placeholder-text-dark: #797979;

$btn-hover-light-1: #0f0f0f;
$btn-hover-light-2: #f0f0f0;

$color-border-light-1: #d1d1d1;
$color-border-light-2: #545454;
$color-border-dark-1: #505050;
$color-border-dark-2: #858585;

// !____> Semantic color variables for use in components

// light theme
$color-background: $background-white;
$color-background-soft: $white-soft;
$color-background-mute: $white-mute;
$card-bg-color-light: #f5f5f5;
$card-bg-color-dark: rgb(16, 16, 16);

$color-border-important: $important;
$color-border: $color-border-light-1;
$color-border-hover: $color-border-light-2;

$heading: $black;
$text: #535353;
$text-mute: $black-mute;
$label-light: #9f9f9f;

// dark theme
$color-background-dark: $background-black;
$color-background-soft-dark: $black-soft;
$color-background-mute-dark: $black-mute;

$color-border-important-dark: $important;
$color-border-dark: $color-border-dark-1;
$color-border-hover-dark: $color-border-dark-2;

$heading-dark: $white;
$text-dark: rgb(129, 129, 129);
$text-mute-dark: $white-mute;
$label-dark: #6f6f6f;
$link-active-shadow: rgb(200, 200, 200);

// !_____> Components Specific

/*
  *Navigation Panel + Side panel/bar combined styling
*/
$nav-height: 85px;
$nav-width: 220px;
$nav-item-width: 80px;
$nav-x-padding: 40px;

$nav-phone-height: 60px;

$panel-bg-color-light: rgb(227, 227, 227);
$panel-bg-color-dark: rgb(40, 40, 40);

/* 
  *Scrollbar
*/
$scroll-width: 10px;
$scroll-border-radius: 6px;

// light
$scroll-handle-color: $black-mute;
$scroll-handle-hover-color: $black;
$scroll-track-color: $color-background;

// dark
$scroll-handle-color-dark: $white-mute;
$scroll-handle-hover-color-dark: $white;
$scroll-track-color-dark: $color-background-dark;

/*
  *Inputs
*/
$input-error-shadow: inset 0px 0px 25px -15px $error;

// light
$input-success-shadow-light: inset 0px 0px 15px -10px $success-light;

// dark
$input-success-border-dark: #6abe97;
$input-success-shadow-dark: inset 0px 0px 35px -25px $success-dark;

/*
  *Container
*/
$container-default-padding: 12px;
// light
$container-bg-color-light: $card-bg-color-light;

// dark
$container-bg-color-dark: $card-bg-color-dark;

/*
! z-indexes
*/

$z-top: 100;
